#!/usr/bin/env bash

# user vars
# -----------------
# datasets
multiling_data_dir="path/to/mms/sourcetexts"
newsgroups_data_dir="$(pwd)/20_newsgroups"
# frameworks
jedai_dir="path/to/JedAIToolkit/jedai-core"
# -----------------

cur_dir="$(pwd)"
if [ ! -e "${cur_dir}/dependencyJars" ]; then
	echo "Jedai and its dependencies' jars missing from ${cur_dir}/dependencyJars"
	exit 1
fi

# check datasets
# 20 NG
if [ ! -e "${newsgroups_data_dir}" ]; then
    echo "Getting 20newsgroups dataset..."
    cd $"{newsgroups_data_dir}"
    wget -q "http://qwone.com/~jason/20Newsgroups/20news-19997.tar.gz"
    [ -z "$(which gunzip)" ] && sudo apt install gunzip
    gunzip 20news-19997.tar.gz && tar xf 20news-19997.tar.gz
fi
# Multiling mms sources
if [ ! -e "${multiling_data_dir}" ]; then
    echo "Multiling data directory does not exist."
    exit(1)
fi
cd "${cur_dir}"

# populate evaluator config file

# run evaluator
cd "${cur_dir}"
echo "Running evaluator..."
./execute.sh > results.txt
